<div class="dashbox">
    <h3><span title="<%= metric('message_key').description -%>"><%= metric('message_key').short_name -%></span></h3>
    <p>
      <span class="big">
        <%= format_measure('message_key') -%>
      </span>
    </p>
    <p>
      <%= format_measure('ncloc', :suffix => ' lines', :url => url_for_drilldown('ncloc')) -%>
    </p>
</div>
<div class="dashbox">
  <h3>Help</h3>
  <p>
    <a href="<%= url_for_resource_gwt('org.sonar.tests:reference/org.sonar.plugins.core.hotspots.GwtHotspots') -%>" class="action">Link to hotspots</a><br/>
    <a href="<%= url_for_gwt('sample.page.GwtSamplePage') -%>" class="action">Link to sample page</a>
  </p>

  <p>
  Read configuration : <%= configuration('sonar.jdbc.username') -%>
  </p>

  <p>
    Sample of Google chart : <br/>
	<%= gchart('cht=bhs&chco=FF0000,00FF00,0000FF&chs=200x125&chd=s:FOE,THE,Bar&chxt=x,y&chxl=1:|Dec|Nov|Oct|0:||20K||60K||100K|') -%>
  </p>
</div>