<% if measure('security-violations') %>
<table width="100%" class="dashbox">
<tr>
  <td width="50%" nowrap>
    <div class="dashbox">
         <h3><%= metric('security-violations').short_name -%></h3>
        <p><span class="big"><%= format_measure('security-violations', :url => url_for_drilldown('security-violations'))%></span><%= tendency_icon('security-violations') %></p>
        <p><span"><%= format_measure('security-rci', :suffix => ' compliance', :url => url_for_drilldown('security-rci')) %></span><%= tendency_icon('security-rci') %></p>
        <div class="note" style="font-size: 80%;padding-top: 10px"><%= measure('security-violations').description %>  rules activated</div>
    </div>
  </td>
  <td width="50%" nowrap>
    <%= piechart(measure('security-violations-distribution'), { :size => "242x70"}) -%>
  </td>
</tr>
</table>
<% end %>