<%
if measure('sonarj_architecture_violations')
%>
<div class="dashbox">
  <table>
    <tr>
        <td width="190px"><h3>Architecture Violations</h3></td>
        <td width="160px"><h3></h3></td>
        <td align="right"><a href="http://www.hello2morrow.com/products/sonarj/sonar" target="_blank"><%= image_tag 'help.png', :class => 'png' -%></a></td>
    </tr>
    <tr>
        <td>
            <span class="big">
              <%= format_measure('sonarj_architecture_violations', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.architecture") -%> <%= tendency_icon(measure('sonarj_architecture_violations')) %> 
            </span>
        </td>
        <td>
            <span class="big">
              <%= format_measure('sonarj_cyclic_artifacts') -%> <%= tendency_icon(measure('sonarj_cyclic_artifacts')) %> 
            </span>
        </td>
    </tr>
   	<tr>
        <td>
              <%= format_measure('sonarj_violating_types', :suffix => ' violating types', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.architecture") -%> <%= tendency_icon(measure('sonarj_biggest_cycle_group')) %> <%= format_measure('sonarj_violating_types_percent', :prefix => '(', :suffix => ')') -%>
        </td>
    </tr>
    <tr>
        <td>
              <%= format_measure('sonarj_threshold_warnings', :suffix => ' threshold violations', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.threshold") -%> <%= tendency_icon(measure('sonarj_threshold_warnings')) %>
        </td>
        <td>
              <%= format_measure('sonarj_ignored_warnings', :suffix => ' ignored/tolerated') -%> <%= tendency_icon(measure('sonarj_ignored_warnings')) %>
        </td>
    </tr>
   <tr>
        <td>
              <%= format_measure('sonarj_tasks', :suffix => ' open tasks', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.open_task") -%> <%= tendency_icon(measure('sonarj_tasks')) %>
        </td>
        <td colspan="2">
              <%= format_measure('sonarj_task_refs', :suffix => ' open task markers', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.open_task") -%> <%= tendency_icon(measure('sonarj_task_refs')) %>
        </td>
    </tr>
    <tr>
        <td colspan="3">
             <%= format_measure('sonarj_duplicate_warnings', :suffix => ' duplicated code blocks') -%> <%= tendency_icon(measure('sonarj_duplicate_warnings')) %>
        </td>
    </tr>
    <tr>
        <td width='190px'>
            <%= format_measure('sonarj_unassigned_types', :suffix => ' unassigned types') -%> <%= tendency_icon(measure('sonarj_unassigned_types')) %>
        </td>
        <td width="160px">
            <%= format_measure('sonarj_unassigned_types_percent', :suffix => ' of all types') -%> <%= tendency_icon(measure('sonarj_unassigned_types_percent')) %>
        </td>
    </tr>
  </table>
</div>

<%
end
%>  