<%
if measure('sonarj_architecture_violations')
%>
<div class="dashbox">
  <table>
    <tr>
        <td width="190px"><h3>Architecture Violations</h3></td>
        <td width="160px"><h3>Warnings</h3></td>
        <td align="right"><a href="http://www.hello2morrow.com/products/sonarj/sonar#architecture" target="_blank"><%= image_tag 'help.png', :class => 'png' -%></a></td>
    </tr>
    <tr>
        <td>
            <p><span class="big">
              <%= format_measure('sonarj_architecture_violations', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.architecture") -%> <%= tendency_icon(measure('sonarj_architecture_violations')) %> 
            </span> violating references</p>
        </td>
        <td>
            <p><span class="big">
              <%= format_measure('sonarj_all_warnings') -%> <%= tendency_icon(measure('sonarj_all_warnings')) %> 
            </span> total warnings</p>
        </td>
    </tr>
   	<tr>
        <td>
              <%= format_measure('sonarj_violating_dependencies', :suffix => ' violating type dependencies', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.architecture") -%> <%= tendency_icon(measure('sonarj_violating_dependencies')) %>
        </td>
        <td>
              <%= format_measure('sonarj_cycle_warnings', :suffix => ' cycle groups', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.cyclegroup") -%> <%= tendency_icon(measure('sonarj_cycle_warnings')) %>
        </td>
    </tr>
    <tr>
    	<td>
              <%= format_measure('sonarj_violating_types', :suffix => ' violating types', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.architecture") -%> <%= format_measure('sonarj_violating_types_percent', :prefix => '(', :suffix => ')') -%> <%= tendency_icon(measure('sonarj_violating_types')) %> 
        </td>
        <td>
              <%= format_measure('sonarj_duplicate_warnings', :suffix => ' duplicate code blocks', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.duplicate") -%> <%= tendency_icon(measure('sonarj_duplicate_warnings')) %>
        </td>
    </tr>
    <tr>
    	<td>
              <%= format_measure('sonarj_unassigned_types', :suffix => ' unassigned types') -%> <%= format_measure('sonarj_unassigned_types_percent', :prefix => '(', :suffix => ')') -%> <%= tendency_icon(measure('sonarj_unassigned_types')) %>
        </td>
        <td>
              <%= format_measure('sonarj_threshold_warnings', :suffix => ' threshold violations', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.threshold") -%> <%= tendency_icon(measure('sonarj_threshold_warnings')) %>
        </td>
        
    </tr>
    <tr>
        <td>
        </td>
        <td>
              <%= format_measure('sonarj_workspace_warnings', :suffix => ' workspace warnings', :url => "#{ApplicationController.root_context}/drilldown/violations/#{@project.id}?filter=category&rule=SonarJ%3Asonarj.workspace") -%> <%= tendency_icon(measure('sonarj_workspace_warnings')) %>
        </td>
    </tr>
    <tr>
    	<td>
              <%= format_measure('sonarj_ignored_violations', :suffix => ' ignored violations') -%> <%= tendency_icon(measure('sonarj_ignored_violations')) %>
        </td>
        <td>
              <%= format_measure('sonarj_ignored_warnings', :suffix => ' ignored warnings') -%> <%= tendency_icon(measure('sonarj_ignored_warnings')) %>
        </td>
    </tr>
  </table>
</div>

<%
end
%>  