<%
if measure('sonarj.acd')
%>
<div class="dashbox">
  <table>
    <tr>
        <td width="190px"><h3>Relative Package Cyclicity</h3></td>
        <td><h3>ACD (John Lakos)</h3></td>
    </tr>
    <tr>
        <td>
            <span class="big">
              <%= format_measure('sonarj.relative_cyclicity') -%> <%= tendency_icon(measure('sonarj.relative_cyclicity')) %> 
            </span>
        </td>
        <td>
            <span class="big">
              <%= format_measure('sonarj.acd') -%> <%= tendency_icon(measure('sonarj.acd')) %> 
            </span>
        </td>
    </tr>
   	<tr>
        <td>
              <%= format_measure('sonarj.biggest_cycle_group', :suffix => ' Biggest cycle group size') -%> <%= tendency_icon(measure('sonarj.biggest_cycle_group')) %>
        </td>
        <td>
              <%= format_measure('sonarj.nccd', :suffix => ' NCCD (John Lakos)') -%> <%= tendency_icon(measure('sonarj.nccd')) %>
        </td>
    </tr>
    <tr>
        <td>
              <%= format_measure('sonarj.cyclic_packages', :suffix => ' Cyclic packages') -%> <%= tendency_icon(measure('sonarj.cyclic_packages')) %>
        </td>
        <td>
              <%= format_measure('sonarj.packages', :suffix => ' Packages') -%> <%= tendency_icon(measure('sonarj.packages')) %>
        </td>
    </tr>
   <tr>
        <td>
              <%= format_measure('sonarj.cyclicity', :suffix => ' Package cyclicity') -%> <%= tendency_icon(measure('sonarj.cyclicity')) %>
        </td>
        <td>
              <%= format_measure('sonarj.instructions', :suffix => ' Byte code instr.') -%> <%= tendency_icon(measure('sonarj.instructions')) %>
        </td>
    </tr>
  </table>
</div>
<% 
elsif measure('sonarj.cycle_group_size') 
%>
<div class="dashbox">
  <h3>Part of Cycle Group of</h3>
  <p>
    <span class="big">
      <%= format_measure('sonarj.cycle_group_size') -%> <%= tendency_icon(measure('sonarj.cycle_group_size')) %> Packages
    </span>
  </p>  
</div>
<%
end
%>  