<%
m = measure('sonarj_erosion_cost') 
if m && m.value > 0 
%>
<div class="dashbox">
  <table>
    <tr>
        <td width="190px"><h3>Cost of Structural Debt</h3></td>
        <td width="160px"><h3>Cost in Man Days</h3></td>
        <td align="right"><a href="http://www.hello2morrow.com/products/sonarj/sonar" target="_blank"><%= image_tag 'help.png', :class => 'png' -%></a></td>
    </tr>
    <tr>
		<td>
        <span class="big">
    		<%= format_measure('sonarj_erosion_cost', :prefix => '$ ') -%><%= tendency_icon(measure('sonarj_erosion_cost')) %>
    	</span>
		</td>
		<td>
        <span class="big">
    		<%= format_measure('sonarj_erosion_days') -%><%= tendency_icon(measure('sonarj_erosion_days')) %>
    	</span>
		</td>
    </tr>
    <tr>
        <td>
        <%= format_measure('sonarj_erosion_index', :suffix => ' structural debt index') -%><%= tendency_icon(measure('sonarj_erosion_index')) %>
        </td>
    </tr>
    <tr>
    	<td>
    	<%= format_measure('sonarj_erosion_types', :suffix => ' type dependencies to cut') -%><%= tendency_icon(measure('sonarj_erosion_types')) %>
    	</td>
    </tr>
    <tr>
    	<td>
    	<%= format_measure('sonarj_erosion_ref', :suffix => ' references to remove') -%><%= tendency_icon(measure('sonarj_erosion_ref')) %>
    	</td>
    </tr>
  </table>
</div>
<%
end
%>  