<%
      if measure('qi-quality-index')
%>

<div class="yui-gc">
  <div class="yui-u first">
    <div class="dashbox">
      <h3>Quality Index</h3>
      <p><span class="big"><%= format_measure('qi-quality-index', :suffix => '', :url => url_for_drilldown('qi-quality-index'), :default => '0')%></span></p>
      <p><span>Coding violations ( <%= format_measure('qi-coding-violations')-%>/ 4.5)</span></p>
      <p><span>Complexity (<%= format_measure('qi-complexity', :suffix => ' man days', :url => url_for_drilldown('qi-complexity'), :default => '0') %></span></p>
      <p><span>Code coverage (<%= format_measure('qi-test-coverage', :suffix => ' man days', :url => url_for_drilldown('qi-test-coverage'), :default => '0') %></span></p>
      <p><span>Style violations (<%= format_measure('qi-style-violations', :suffix => ' man days', :url => url_for_drilldown('qi-style-violations'), :default => '0') %></span></p>
    </div>
  </div>
  <div class="yui-u">
    <div class="dashbox">
      <h3>Complexity factor</h3>
      <p><span class="big"><%= format_measure('qi-complexity-factor', :suffix => '', :url => url_for_drilldown('qi-complexity-factor'), :default => '0')%></span></p>
      <p><span><%= format_measure('qi-complexity-factor-methods', :suffix => ' methods', :url => url_for_drilldown('qi-complexity-factor-methods'), :default => '0 method')%></span></p>
    </div>
  </div>
</div>
<%
      end
%>