<%
      if measure('qi-quality-index')

      codingWeight = measure('qi-coding-violations').text_value;
      complexityWeight = measure('qi-complexity').text_value;
      coverageWeight = measure('qi-test-coverage').text_value;
      styleWeight = measure('qi-style-violations').text_value;

      codingLength = 80 * codingWeight.to_f / 4.5
      complexityLength = 80 * complexityWeight.to_f / 4.5
      coverageLength = 80 * coverageWeight.to_f / 4.5
      styleLength = 80 * styleWeight.to_f / 4.5

      codingRatio = measure('qi-coding-violations').value / codingWeight.to_f * 100
      complexityRatio = measure('qi-complexity').value / complexityWeight.to_f * 100
      coverageRatio = measure('qi-test-coverage').value / coverageWeight.to_f * 100
      styleRatio = measure('qi-style-violations').value / styleWeight.to_f * 100
%>
<style>
table.qidata {
	
}
table.qidata td {
	padding: 0 5px 0 0;
}
</style>
<div class="yui-gc">
  <div class="yui-u first">
    <div class="dashbox">
      <h3>Quality Index</h3>
      <p><span class="big"><%= format_measure('qi-quality-index', :url => url_for_drilldown('qi-quality-index'), :default => '0.0')%><%= tendency_icon('qi-quality-index') -%></span></p>
      <table class="qidata">
        <tr>
          <td>Coding</td>
          <td>
	         <b><%= format_measure('qi-coding-violations', :url => url_for_drilldown('qi-coding-violations')) %></b> /<%=codingWeight-%><%= tendency_icon('qi-coding-violations') -%>
	     </td>
          <td><a style="display: block;width: <%=codingLength-%>px; height: 0.9em; border: 0; float: left; margin: 0 5px; padding: 0;background-color: #00DF00" href="<%= url_for_drilldown('qi-coding-violations') -%>"><div style="width: <%=codingRatio-%>%; height: 0.9em; background-color: #DF0000"></div></a></td>
        </tr>
        <tr>
          <td>Complexity</td><td><b><%= format_measure('qi-complexity', :url => url_for_drilldown('qi-complexity')) %></b> /<%=complexityWeight-%><%= tendency_icon('qi-complexity') -%></td>
          <td><a style="display: block; width: <%=complexityLength-%>px; height: 0.9em; border: 0; float: left; margin: 0 5px; padding: 0;background-color: #00DF00" href="<%= url_for_drilldown('qi-complexity') -%>"><div style="width: <%=complexityRatio-%>%; height: 0.9em; background-color: #DF0000"></div></a></td>
        </tr>
        <tr>
          <td>Coverage</td><td><b><%= format_measure('qi-test-coverage', :url => url_for_drilldown('qi-test-coverage')) %></b> /<%=coverageWeight-%><%= tendency_icon('qi-test-coverage') -%></td>
          <td><a style="display: block;width: <%=coverageLength-%>px; height: 0.9em; border: 0; float: left; margin: 0 5px; padding: 0;background-color: #00DF00" href="<%= url_for_drilldown('qi-test-coverage') -%>"><div style="width: <%=coverageRatio-%>%; height: 0.9em; background-color: #DF0000"></div></a></td>
        </tr>
        <tr>
          <td>Style</td><td><b><%= format_measure('qi-style-violations', :url => url_for_drilldown('qi-style-violations')) %></b> /<%=styleWeight-%><%= tendency_icon('qi-style-violations') -%></td>
          <td><a style="display: block;width: <%=styleLength-%>px; height: 0.9em; border: 0; float: left; margin: 0 5px; padding: 0;background-color: #00DF00" href="<%= url_for_drilldown('qi-style-violations') -%>"><div style="width: <%=styleRatio-%>%; height: 0.9em; background-color: #DF0000"></div></a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="yui-u">
    <div class="dashbox">
      <h3>Complexity factor</h3>
      <p><span class="big"><%= format_measure('qi-complexity-factor', :suffix => '', :url => url_for_drilldown('qi-complexity-factor'), :default => '0')%></span></p>
      <p><span><%= format_measure('qi-complexity-factor-methods', :suffix => ' methods', :url => url_for_drilldown('qi-complexity-factor-methods'), :default => '0 method')%></span></p>
    </div>
  </div>
</div>

<%
      end
%>