<%
      if measure('sigmm-maintainability')
%>
<div class="dashbox">
  <h3><span title="<%= metric('sigmm-maintainability').description -%>"><%= metric('sigmm-maintainability').short_name -%></span></h3>
  <p>
    <span class="big">
      <%= format_measure('sigmm-maintainability') -%>
    </span>
  </p>
  <p>
    <p><span>Analysability: <%= format_measure('sigmm-analysability', :suffix => '') -%></span></p>
    <p><span>Changeability: <%= format_measure('sigmm-changeability', :suffix => '') -%></span></p>
    <p><span>Stability: <%= format_measure('sigmm-stability', :suffix => '') -%></span></p>
    <p><span>Testability: <%= format_measure('sigmm-testability', :suffix => '') -%></span></p>
  </p>
</div>
<%
      end
%>