<%
      if measure('sigmm-maintainability')
%>
<div class="dashbox">
  <h2><span title="<%= metric('sigmm-maintainability').description -%>">SIG Maintainability Model</span></h2>
	<br />
  <table border="0">
	<tr>
		<td><b>Analysability</b>(A):</td>
		<td><%= format_measure('sigmm-analysability', :suffix => '') -%></td>
	</tr>
	<tr>
		<td><b>Changeability</b> (C):</td>
		<td><%= format_measure('sigmm-changeability', :suffix => '') -%></td>
	</tr>
	<tr>
		<td><b>Stability</b> (S):</td>
		<td><%= format_measure('sigmm-stability', :suffix => '') -%></td>
	</tr>
	<tr>
		<td><b>Testability</b> (T):</td>
		<td><%= format_measure('sigmm-testability', :suffix => '') -%></td>
	</tr>	
  </table>
  
    <div class="yui-u"><hr/>
      <%= 

	  a = measure('sigmm-analysability').value.to_s;
	  c = measure('sigmm-changeability').value.to_s;
	  s = measure('sigmm-stability').value.to_s;
	  t = measure('sigmm-testability').value.to_s;

	 gchart('cht=bvs&chco=00FF00&chs=200x125&chd=t:' + a + ',' + c + ',' + s + ',' + t + '&chds=-2,2&chxt=x,y&chxl=1:|-2|0|2|0:||A||C||S||T|')
	  -%>
   </div>
  
</div>
<%
      end
%>