<%
   property_key = "dev.widget.#{widget.id}"
   code = configuration(property_key)
%>
<form action="<%= ApplicationController.root_context -%>/api/properties" method="post"
      onsubmit="new Ajax.Request('<%= ApplicationController.root_context -%>/api/properties', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this), onLoading:function(request){$('preview-<%= widget.id -%>').disable()}, onComplete:function(request){window.location.reload()}}); return false;">
  <input type="hidden" name="id" value="<%= property_key -%>"/>
  <textarea rows="<%= widget_properties['rows'] -%>" cols="<%= widget_properties['cols'] -%>" name="value"><%= code -%></textarea>
  <br/>

  <div>
    <input type="submit" value="Preview" id="preview-<%= widget.id -%>"/> <span class="note" id="note-<%= widget.id -%>"></span>
  </div>
</form>
<br/>
<%
   if code
     begin
       widget_body=render :inline => code, :locals => {:widget_properties => widget_properties, :widget => widget, :dashboard_configuration => dashboard_configuration}
     rescue => error
       widget_body=error.backtrace.join("\n")
     end
%>
  <%= widget_body -%>
<% end %>
<script type="text/javascript">
  if (Prototype.Browser.Gecko) {
    $('note-<%= widget.id -%>').update('Firefox is badly supported');
  }
</script>